
@media (min-width: 279px) and (max-width: 319px){
  
   .menu .navbar-toggler{
    background: green;
    border: 1px solid green;
    border-radius: 0px;
  }
  .menu .navbar-toggler .fa{
    color: #000;
  }
  .logo-img{
    width: 70%;
  }
  .menu .navbar-nav .nav-item .nav-link{
    margin: 5px 0px 0px 0px;
  }
  .banner{
    width: 100%;
    padding: 60px 0px;
  }
  .title{
    width: 100%;
  }
  .title h1{
    font-size: 25px;
    padding: 0px 10px;
    margin: -80px 0px;
  } 
  p{
    font-size: 8px;
    padding: 25px 15px;
  }
  .inner-btn{
    width: 80%;
    padding: 20px 0px;
  }
  .inner-btn .btn-primary{
    font-size: 10px;
    width: 60%;
    margin: 20px 30px;
  }
  .inner-btn .btn-info{
    font-size: 10px;
    width: 60%;
    margin: 0px 30px;
  }
  .service{
    width: 100%;
    padding: 20px 0px;
  }
  .service .title h3 {
    font-size: 22px;
 }
 .divider {
  width: 100%;
  padding: 30px 0px;
}
.card{
  width: 90%;
  margin: 10px 15px;
 }
 .card .card-img-top {
  width: 90px;
  line-height: 90px;
  font-size: 90px;
  margin-left: 70px;
  margin-top: 50px;
}
.card .card-body .card-text {
  font-size: 10px;
}
.get {
  width: 100%;
  padding: 40px 0px;
}
.get h2 {
  font-size: 25px;
  margin: 0px 33px;
}
.get p {
  font-size: 7px;
}
.app-presentation{
  width: 100%;
  padding: 40px 0px;
}
.app-content h2{
  font-size: 30px;
  margin: -30px 25px;
}
.app-content p {
  font-size: 6px;
 margin: 10px 10px;
}
.app-btn{
  width: 100%;
  text-align: center;
}
.app-btn .btn-primary{
  font-size: 9px;
  margin-top: -60px;
}
.code{
  width: 90%;
  margin: 0px 5px;
}
.features{
  width: 100%;
  padding: 40px 0px;
  margin: 30px 0px;
}
.feature-img{
  width: 90%;
  margin: 0px 5px;
}
.features-box {
  width: 90%;
  padding: 10px 30px;
  margin: 10px;
}
.features-box h4{
  font-size: 13px;
}
.features-box-1 {
  width: 90%;
  padding: 10px 30px;
  margin: 10px;
}
.features-box-1 h4 {
  font-size: 16px;
}
.features-box-1 p {
  font-size: 6px;
}
.mobile{
  width: 100%;
  padding: 30px 0px;
}
.mobile-content h2 {
  font-size: 25px;
  margin-top: -30px;
  margin-left: 5px;
}
.mobile-content span {
  font-size: 10px;
  margin: 0px 70px;
}
.mobile-content p {
  font-size: 5px;
}
.mobile-img img{
  width: 180px;
  margin: 0px 30px;
}
.download{
  width: 100%;
  padding: 30px 0px;
}
.download .title h2{
  font-size: 16px;
}
.download .title p {
  font-size: 12px;
}
.inner-download{
  width: 80%;
  margin: -40px 20px 0px;
}
.inner-download .btn-primary{
  font-size: 10px;
}
.quote{
  width: 100%;
  padding: 20px 0px;
}
.quote p {
  font-size: 5px;
}
.app-add{
  width: 100%;
  padding: 30px 0px;
}
.app-img{
  width: 90%;
  margin: 0px 20px;
}
.app-add .app-content h2 {
  font-size: 40px;
  margin-top: -50px;
}
.app-add .app-content p {
  font-size: 8px;
  margin-top: -30px;
}
.store-img{
  text-align: center;
  margin-top: -55px;
}
.play-img {
  width: 50%;
  padding: 30px 0px;
}
.apple-img{
  width: 50%;
}
.inner-app{
  width: 80%;
  padding: 20px 5px;
  margin: 0px 20px;
}
.inner-app .btn-primary{
  font-size: 6px;
}
.footer{
  width: 100%;
  padding: 40px 0px;
}
.footer h4{
  font-size: 14px;
}
.footer ul li{
  font-size: 10px;
  margin-top: -10px;
  margin-left: 10px;
}
.copyright-section p {
  font-size: 9px;
  margin-left: 30px;
}
.text-center ul{
  font-size: 10px;
  margin-left: -40px;
  margin-top: -20px;
}
}
@media (min-width: 320px) and (max-width: 480px){
   /* css start here */
   .menu .navbar-toggler{
    background: green;
    border: 1px solid green;
    border-radius: 0px;
  }
  .menu .navbar-toggler .fa{
    color: #000;
  }
  .logo-img{
    width: 70%;
  }
  .menu .navbar-nav .nav-item .nav-link{
    margin: 5px 0px 0px 0px;
  }
  .banner{
    width: 100%;
    padding: 20px 0px;
  }
  .title{
    width: 100%;
  }
  .title h1{
    font-size: 30px;
    padding: 0px 40px;
    margin: 20px 0px;
  } 
  p{
    font-size: 10px;
    padding: 0px 40px;
  }
  .inner-btn{
    width: 100%;
  }
  .inner-btn .btn-primary{
    font-size: 10px;
    width: 45%;
    margin: 20px 80px;

  }
  .inner-btn .btn-info{
    font-size: 10px;
    width: 45%;
    margin: 20px 80px;
  }
  .service{
    width: 100%;
    padding: 20px 0px;
  }
  .service .title h3 {
    font-size: 28px;
 }
 .divider {
  width: 100%;
  padding: 30px 0px;
}
.card{
  width: 90%;
  margin: 10px 15px;
 }
 .card .card-img-top {
  width: 90px;
  line-height: 90px;
  font-size: 90px;
  margin-left: 120px;
  margin-top: 30px;
}
.card .card-body .card-title {
  font-size: 28px;
}
.card .card-body .card-text {
  font-size: 12px;
}
.get {
  width: 100%;
  padding: 40px 0px;
}
.get h2 {
  font-size: 28px;
  margin: 0px 75px;
}
.get p {
  font-size: 7px;
  margin: 15px 0px;
}
.app-presentation{
  width: 100%;
  padding: 40px 0px;
}
.app-content h2{
  font-size: 35px;
  margin: -40px 60px 0px;
}
.app-content p {
  font-size: 8px;
 margin: 15px 13px;
}
.app-btn{
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.app-btn .btn-primary{
  font-size: 9px;
  margin-top: -60px;
}
.code{
  width: 90%;
  margin: 0px 18px;
}
.features{
  width: 100%;
  padding: 40px 0px;
  margin: 30px 0px;
}
.feature-img{
  width: 90%;
  margin: 0px 25px;
}
.features-box {
  width: 80%;
  padding: 10px 30px;
  margin: 40px;
}
.features-box h4{
  font-size: 16px;
}
.features-box-1 {
  width: 80%;
  padding: 10px 30px;
  margin: 40px;
}
.features-box-1 h4 {
  font-size: 18px;
}
.features-box-1 p {
  font-size: 6px;
}
.mobile{
  width: 100%;
  padding: 30px 0px;
}
.mobile-content h2 {
  font-size: 35px;
  padding: 0px 30px;
}
.mobile-content span {
  font-size: 13px;
  margin: 0px 120px;
}
.mobile-content p {
  font-size: 7px;
}
.mobile-img img{
  width: 280px;
  margin: 20px 30px;
}
.download{
  width: 100%;
  padding: 30px 0px;
}
.download .title h2{
  font-size: 18px;
}
.download .title p {
  font-size: 14px;
}
.inner-download{
  width: 90%;
  margin: -40px 20px 10px;
}
.inner-download .btn-primary{
  font-size: 10px;
}
.quote{
  width: 100%;
  padding: 20px 0px;
}
.quote p {
  font-size: 6px;
}
.app-add{
  width: 100%;
  padding: 40px 0px;
}
.app-img{
  width: 90%;
  margin: 0px 20px;
}
.app-add .app-content h2 {
  font-size: 45px;
  margin-top: -50px;
}
.app-add .app-content p {
  font-size: 10px;
}
.store-img{
  width: 100%;
  padding: 0px 20px;
  margin-left: 20px;
}
.play-img {
  width: 40%;
  padding: 40px 0px;
}
.apple-img{
  width: 40%;
  padding: 40px 0px;
}
.inner-app{
  width: 90%;
  padding: 20px 5px;
  margin: 0px 20px;
}
.inner-app .btn-primary{
  font-size: 9px;
}
.footer{
  width: 100%;
  padding: 30px 0px;
}
.footer h4{
  font-size: 20px;
}
.footer ul li{
  font-size: 14px;
  padding-left: 8px;

}
.copyright-section p {
  font-size: 14px;
  padding-left: 60px;
}
.text-center ul{
  font-size: 14px;
  margin-left: -40px;
  margin-top: 20px;
}
  /* css end here */
}
@media (min-width: 481px) and (max-width: 767px){
   /* css start here */
   .menu .navbar-toggler{
    background: green;
    border: 1px solid green;
    border-radius: 0px;
  }
  .menu .navbar-toggler .fa{
    color: #000;
  }
  .logo-img{
    width: 70%;
  }
  .menu .navbar-nav .nav-item .nav-link{
    margin: 5px 0px 0px 0px;
  }
  .banner{
    width: 100%;
    padding: 20px 0px;
  }
  .title{
    width: 100%;
  }
  .title h1{
    font-size: 30px;
    padding: 0px 40px;
    margin: 20px 0px;
  } 
  p{
    font-size: 10px;
    padding: 0px 40px;
  }
  .inner-btn{
    width: 100%;
  }
  .inner-btn .btn-primary{
    font-size: 10px;
    width: 45%;
    margin: 20px 80px;

  }
  .inner-btn .btn-info{
    font-size: 10px;
    width: 45%;
    margin: 20px 80px;
  }
  .service{
    width: 100%;
    padding: 20px 0px;
  }
  .service .title h3 {
    font-size: 28px;
 }
 .divider {
  width: 100%;
  padding: 30px 0px;
}
.card{
  width: 90%;
  margin: 10px 15px;
 }
 .card .card-img-top {
  width: 90px;
  line-height: 90px;
  font-size: 90px;
  margin-left: 120px;
  margin-top: 30px;
}
.card .card-body .card-title {
  font-size: 28px;
}
.card .card-body .card-text {
  font-size: 12px;
}
.get {
  width: 100%;
  padding: 40px 0px;
}
.get h2 {
  font-size: 28px;
  margin: 0px 75px;
}
.get p {
  font-size: 7px;
  margin: 15px 0px;
}
.app-presentation{
  width: 100%;
  padding: 40px 0px;
}
.app-content h2{
  font-size: 35px;
  margin: -40px 60px 0px;
}
.app-content p {
  font-size: 8px;
 margin: 15px 13px;
}
.app-btn{
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.app-btn .btn-primary{
  font-size: 9px;
  margin-top: -60px;
}
.code{
  width: 90%;
  margin: 0px 18px;
}
.features{
  width: 100%;
  padding: 40px 0px;
  margin: 30px 0px;
}
.feature-img{
  width: 90%;
  margin: 0px 25px;
}
.features-box {
  width: 80%;
  padding: 10px 30px;
  margin: 40px;
}
.features-box h4{
  font-size: 16px;
}
.features-box-1 {
  width: 80%;
  padding: 10px 30px;
  margin: 40px;
}
.features-box-1 h4 {
  font-size: 18px;
}
.features-box-1 p {
  font-size: 6px;
}
.mobile{
  width: 100%;
  padding: 30px 0px;
}
.mobile-content h2 {
  font-size: 35px;
  padding: 0px 30px;
}
.mobile-content span {
  font-size: 13px;
  margin: 0px 120px;
}
.mobile-content p {
  font-size: 7px;
}
.mobile-img img{
  width: 280px;
  margin: 20px 30px;
}
.download{
  width: 100%;
  padding: 30px 0px;
}
.download .title h2{
  font-size: 18px;
}
.download .title p {
  font-size: 14px;
}
.inner-download{
  width: 90%;
  margin: -40px 20px 10px;
}
.inner-download .btn-primary{
  font-size: 10px;
}
.quote{
  width: 100%;
  padding: 20px 0px;
}
.quote p {
  font-size: 6px;
}
.app-add{
  width: 100%;
  padding: 40px 0px;
}
.app-img{
  width: 90%;
  margin: 0px 20px;
}
.app-add .app-content h2 {
  font-size: 45px;
  margin-top: -50px;
}
.app-add .app-content p {
  font-size: 10px;
}
.store-img{
  width: 100%;
  padding: 0px 20px;
  margin-left: 20px;
}
.play-img {
  width: 40%;
  padding: 40px 0px;
}
.apple-img{
  width: 40%;
  padding: 40px 0px;
}
.inner-app{
  width: 90%;
  padding: 20px 5px;
  margin: 0px 20px;
}
.inner-app .btn-primary{
  font-size: 9px;
}
.footer{
  width: 100%;
  padding: 30px 0px;
}
.footer h4{
  font-size: 20px;
}
.footer ul li{
  font-size: 14px;
  padding-left: 8px;

}
.copyright-section p {
  font-size: 14px;
  padding-left: 60px;
}
.text-center ul{
  font-size: 14px;
  margin-left: -40px;
  margin-top: 20px;
}
  /* css end here */

}
@media (min-width: 768px) and (max-width: 1024px){
   /* css start here */
   .banner {
    width: 100%;
    padding: 60px 0px;
}
   .title h1 {
    font-size: 50px;
    margin: 0px 90px;  
}
p {
  font-size: 16px;
  margin: 0px 90px;
}
.inner-btn {
  width: 100%;
  margin: 0px 90px;
}
.service{
  width: 100%;
  padding: 60px 0px;
}
.service .title h3{
  font-size: 45px;
}
.card {
  width: 100%;
  margin: 15px 20px;
}
.card .card-img-top {
  margin-left: 290px;
  margin-top: 50px;
}
.card .card-body .card-title {
  font-size: 30px;
}
.card .card-body .card-text {
  font-size: 18px;
}
.company-info {
  width: 100%;
  padding: 40px 0px;
}
.get h2 {
  font-size: 45px;
  margin: 0px 80px;
}
.get p {
  font-size: 13px;
  margin: 15px 10px;
}
.app-presentation{
  width: 100%;
  padding: 60px 0px;
}
.app-content{
  width: 100%;
  padding: 10px 0px;
}
.app-content h2{
  font-size: 38px;
  margin: 0px 200px;
}
.app-content p{
  font-size: 14px;
}
.app-btn{
  width: 100%;
}
.app-btn .btn-primary{
  font-size: 14px;
  margin: 10px 200px;
}
.code {
  width: 90%;
  height: 90%;
  margin: 20px 60px;
}
.features{
  width: 100%;
  margin: 40px 0px;
}
.feature-img {
  width: 80%;
  margin: 0px 70px;
}
.features-box {
  width: 100%;
  margin: 20px;
}
.features-box h4 {
  font-size: 28px;
}
.features-box-1 {
  width: 100%;
 margin: 20px;
}
.features-box-1 h4 {
  font-size: 25px;
}
.features-box-1 p {
  font-size: 18px;
 margin: 0px 40px;
}
.mobile {
  width: 100%;
  padding: 40px 0px;
}
.mobile-content h2 {
  font-size: 48px;
  margin: 20px 100px
}
.mobile-content span {
  font-size: 20px;
  margin: 0px 220px;
}
.mobile-content p {
  font-size: 18px;
}
.mobile-img img {
  width: 350px;
  margin: 20px 170px;
}
.download {
  width: 100%;
  padding: 60px 0px;
}
.download .title p {
  font-size: 25px;
}
.inner-download {
  width: 100%;
}
.inner-download .btn-primary{
  font-size: 25px;
  padding: 10px 50px;
}
.quote p {
  font-size: 11px;
}
.app-img {
  width: 80%;
  margin: 10px 70px;
}
.app-add .app-content h2 {
  font-size: 50px;
}
.app-add .app-content p {
  font-size: 22px;
}
.store-img {
  text-align: center;
  margin: 20px 0px;
}
.inner-app {
  width: 100%;
}
.inner-app .btn-primary{
  font-size: 20px;
  padding: 10px 30px;
}
.footer {
  width: 100%;
  padding: 60px 0px;
}
.footer h4 {
  font-size: 32px;
}
.footer ul li {
  font-size: 16px;
}
.copyright-section {
  width: 100%;
}
.copyright-section p {
  font-size: 22px;
  margin: 10px 110px;
}
.text-center ul {
  margin: 10px 130px;
}
  /* css end here */

} 